.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-wrapper {
  max-width: 1300px;
  margin: 0 auto !important;
}

main {
  min-height: 90vh;
}

.box-shadow1 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
.box-shadow2 {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.nav-bar {
  height: 30px;
  padding: 30px;
  background-color: #ffffff;
}

.sidebar {
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  position: sticky;
  top: 0px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
  }

  &__card {
    @extend .box-shadow2;

    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 16px;
  }
}

.tags {
  .tag {
    margin-bottom: 10px;
    cursor: pointer;
    width: fit-content;

    &__title {
      font-weight: 500;
      line-height: 2;
    }
    &__subtitle {
      font-size: 12px;
      font-weight: 500;
      color: #777777;
    }
  }
}

.left-sidebar {
  border-right: 1px solid #cacacb;
}
.right-sidebar {
  border-left: 1px solid #cacacb;
  // background-color: red;
}

.quicklinks__title {
  font-weight: 500;
  font-size: 1.3em;
}

.quicklinks__ul__list {
  margin-bottom: 20px;
  cursor: pointer;
  width: fit-content;
  line-height: 2;
}
.quicklinks__ul__list__icon {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 23px;
}

.vote-action {
  width: 5%;
  height: 75px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  &__count {
    font-weight: bold;
    color: #818084;
  }
  &__vote__btn {
    font-size: 17px;
    color: #818084;
    cursor: pointer;
  }
}

.input-box {
  display: flex;
  align-items: center;

  &__input {
    margin-right: 10px;
    margin-left: 10px;
  }

  .send-comment {
    font-size: 20px;
    color: #d3d2d5;

    &.can-send {
      cursor: pointer;
      color: green;
    }
  }
}

.comment__time {
  color: #b3a8a8;
}

.comment-thread {
  margin-top: 20px;

  &__divider {
    margin: 15px -58px 15px;
    width: calc(100% + 100px);
  }

  .vote-action {
    align-self: baseline;
    height: 24px;

    &__vote__btn {
      display: flex;
    }
  }

  .comment {
    flex: 1;

    .user-card {
      width: 30px !important;
      height: 30px !important;
      border-radius: 7px;
    }

    &__text {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__side-action {
      color: #938a8a;

      * {
        cursor: pointer;
      }
    }
    &__like {
      .liked {
        color: red;
      }
    }
    &__action {
      color: #9e9da0;

      * {
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
      }

      .comment__reply {
        margin-right: 5px;
      }
    }
  }
}
