.feeds {
  padding: 20px;
}
.feed {
  &__top {
    display: flex;
    align-items: center;
  }
  &__meta {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  &__description {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
  }
  &__asked_by_avatar {
    margin-right: 10px;
  }
  &__answered_by {
    color: #988888;
    font-weight: 600;
    font-style: italic;
  }
  &__answered_date {
    color: #b3a8a8;
  }
  &__icons {
    margin-top: 20px;
    .feed__icon {
      cursor: pointer;
      color: #d3d2d5;
      font-size: 14px;
      background-color: #f9f9f9;
      margin-right: 10px;
      padding: 5px;
      border-radius: 5px;

      &:hover {
        color: #9e9da0;
        background-color: #f5e8e8;
      }
    }
  }
}
