body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7e9f8;
  overflow-x: hidden;
}

.borderTest {
  border: 1px solid #000000;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}

.dflex {
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}
.justify-space-between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  display: flex;
  align-items: center;
}

.bullet-separator {
  margin-left: 5px;
  margin-right: 5px;
  color: #888888;
  font-size: 18px;
}

.qa-divider {
  .inner {
    cursor: pointer;
    display: flex !important;
    align-items: center;

    .__text {
      margin-right: 5px;
      font-weight: 500;
    }
  }
}

.box-shadow1 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
.box-shadow2 {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.app-card {
  // @extend .box-shadow1;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 16px;
}

.user-card {
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
  position: relative;
  width: 40px !important;
  height: 40px !important;
  overflow: hidden;
  margin-right: 10px;
  background-color: #f7e0fa;

  img {
    object-fit: cover;
    object-position: center;
  }

  &.even-card {
    margin-top: 15px;
  }
}

.user-card-group {
  position: relative;
  display: flex;

  .user-card {
    @extend .user-card;

    border: 3px solid #ffffff;
    width: 25px !important;
    height: 25px !important;
    border-radius: 11px;
    
    &:not(:first-child) {
      margin-left: -28px;
    }
  }

  .other-users-count {
    position: absolute;
    bottom: 0;
    right: -3px;
    color: #9e9da0;
    font-size: 11px;
    font-weight: 700;
  }
}
