.question {
  &-card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;

    &__title {
      font-size: 18px;
      font-weight: 500;
    }

    .read-more {
      margin-bottom: 12px;
    }
  }

  &.ask-question {
    background: red;
    &__title {
      margin-bottom: 10px;
    }
  }
}
.app-editor {
  display: block;

  .ant-modal-content {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;

    .ant-modal-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      .modal-left-footer {
        * {
          margin: 0 4px;
          font-size: 18px;
          color: #777777;
          cursor: pointer;
        }
      }
    }
  }

  .input__wrapper {
    margin-bottom: 5px;
    padding-bottom: 10px;

    .ask-user {
      margin-bottom: 14px;
      span {
        padding: 3px 13px;
        border-radius: 100px;
        font-size: 17px;
        letter-spacing: -1px;
        font-weight: 700;
        color: #ffffff;
        background: #F25E74;
      }
    }

    .intro-label {
      font-size: 13px;
      letter-spacing: -1px;
      font-weight: 500;
      color: #c3c2c8;

      .after-icon {
        color: #777777;
        margin-top: 3px;
      }
    }

    textarea {
      padding: 4px 0;
      font-weight: 500;
      color: #5d5d5f;
      font-size: 20px;
      letter-spacing: -1px;
      
      &::placeholder {
        font-weight: 500;
        color: #5d5d5fba;
      }
    }
  }

  .show-description {
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 500;
    color: #c3c2c8;
    margin: 7px 0;

    .collapse-editor {
      cursor: pointer;
      font-weight: 600;
    }
  }

  .editor-item {
    height: 200px;
    overflow: auto;

    /* width */

      &:hover {
        &::-webkit-scrollbar {
          display: block;
          width: 2px;
        }
      }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-tips {
    &.tooltip {
      font-size: 11px !important;
    }
  }
}
