.question {
  &-card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;

    &__title {
      font-size: 18px;
      font-weight: 500;
    }

    .read-more {
      margin-bottom: 12px;
    }
  }

  &.ask-question {
    background: red;
    &__title {
      margin-bottom: 10px;
    }
  }
}
.app-editor {
  display: block;

  .ant-modal-content {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;

    .ant-modal-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      .modal-left-footer {
        * {
          margin: 0 4px;
          font-size: 18px;
          color: #777777;
          cursor: pointer;
        }
      }
    }
  }

  .input__wrapper {
    margin-bottom: 10px;
    padding-bottom: 10px;

    .intro-label {
      font-size: 13px;
      letter-spacing: -1px;
      font-weight: 500;
      color: #c3c2c8;
    }

    textarea {
      padding: 4px 0;
      font-weight: 500;
      color: #5d5d5f;
      font-size: 20px;
      letter-spacing: -1px;
      
      &::placeholder {
        font-weight: 500;
        color: #5d5d5f;
      }
    }
  }


  .editor-item {
    height: 200px;
    overflow: auto;

    /* width */

      &:hover {
        &::-webkit-scrollbar {
          display: block;
          width: 2px;
        }
      }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
