@import "./index.scss";
@import "./feed.module.scss";
@import "./errors.scss";
// @import "./questions.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-wrapper {
  max-width: 1300px;
  margin: 0 auto !important;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

main {
  min-height: 90vh;
}

.app-footer {
  // position: fixed;
  position: sticky;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  width: 100%;
  height: 96px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  color: #333333;
  margin-top: 100px;
}

.box-shadow1 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
.box-shadow2 {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.nav-bar {
  background-color: #ffffff;
}

.page {
  padding-top: 20px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.sidebar {
  padding: 10px;
  padding-top: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  position: sticky;
  top: 0px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 13px;
  }

  &__card {
    @extend .box-shadow2;

    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 16px;

    &.plain {
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__more {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  .tags {
    .tag {
      margin-bottom: 10px;
      cursor: pointer;
      width: fit-content;

      &__title {
        font-weight: 500;
        line-height: 2;
      }
      &__subtitle {
        font-size: 12px;
        font-weight: 500;
        color: #777777;
      }
    }
  }

  &__collapsed {
    .sidebar__card {
      background-color: #ffffff;

      .quicklinks__ul {
        display: grid;
        justify-content: center;
      }
    }
  }
}

.subscribe-card {
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 16px;

  &__icon {
    font-size: 60px;
    color: #a98583;
  }

  &__intro {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    color: #777777;
  }

  &__note {
    font-size: 16px;
    font-weight: 500;
    color: #777777;
    margin: 0px 0 10px;
  }
  // &__btn {
  //   margin-top: 20px;
  // }
}

.users-list {
  .user {
    margin-bottom: 10px;

    .user-card {
      width: 30px !important;
      min-width: 30px !important;
      height: 30px !important;
      border-radius: 10px;
    }

    &__fullname {
      font-weight: 500;
    }
  }
}

.left-sidebar {
  border-right: 1px solid #cacacb;
}
.right-sidebar {
  border-left: 1px solid #cacacb;
  // background-color: red;
}

.new-label {
  font-size: 10px !important;
  background: #a98583;
  padding: 2px;
  border-radius: 2px;
  color: #ffffff;
  line-height: normal;
  margin-left: 7px;

  &.no-space {
    margin: 0;
    font-size: 5px !important;
    font-weight: 500;
  }
}

.quicklinks {
  &__title {
    font-weight: 500;
    font-size: 1.3em;
  }

  &__ul__list {
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
    line-height: 2;
  }
  &__ul__list__icon {
    margin-right: 10px;
    margin-top: 5px;
    font-size: 23px;
    position: relative;
  }
}

.notifier {
  background-color: #34a1c7;
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  right: 0;
}

.app-tag {
  background-color: #a8a5a559;
  font-size: 10px;

  .ant-tag-close-icon {
    font-size: 8px;
  }
}

.vote-action {
  width: 5%;
  height: 75px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  &__count {
    font-weight: bold;
    color: #818084;
  }
  &__vote__btn {
    font-size: 17px;
    color: #818084;
    cursor: pointer;
  }
}

.input-box {
  display: flex;
  align-items: center;

  &__input {
    margin-right: 10px;
    margin-left: 10px;
  }

  .send-comment {
    font-size: 20px;
    color: #d3d2d5;

    &.can-send {
      cursor: pointer;
      color: green;
    }
  }
}

.input__wrapper {
  &--bottom-border {
    border-bottom: 1px solid #d3d2d5;
  }
}

.comment__time {
  color: #b3a8a8;
}

.comment-thread {
  margin-top: 20px;

  &__divider {
    margin: 15px -58px 15px;
    width: calc(100% + 100px);
  }

  .vote-action {
    align-self: baseline;
    height: 24px;

    &__vote__btn {
      display: flex;
    }
  }

  .comment {
    flex: 1;

    .user-card {
      width: 30px !important;
      min-width: 30px !important;
      height: 30px !important;
    }

    &__text {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__side-action {
      color: #938a8a;

      * {
        cursor: pointer;
      }
    }
    &__like {
      .liked {
        color: red;
      }
    }
    &__action {
      color: #9e9da0;

      * {
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
        margin-right: 10px;
      }

      .comment__reply {
        margin-right: 5px;
      }
      .comment__translate {
        align-items: center;
        display: inline-flex;

        .new-label {
          margin-left: 3px;
          margin-top: 3px;
        }
      }
    }
  }
}
.read-more {
  font-style: italic;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.wave-container {
  min-height: 40vh;
  background-color: #f6f2ea;
  position: relative;
}

.wave-container::before {
  content: "";
  width: 100%;
  min-height: 49px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 79vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23ffffff'/></svg>");
}

.featuredQuestions {
    margin-top: 100px;

    .title {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 30px;
  }
  .subtitle {
    color: #818084;
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 50px;
  }
}