.public-view {
  background-color: #ffffff;

  .page {
    min-height: 80vh
  }
  .auth-form {
    .ant-form-item {
      margin-bottom: 15px;
    }

    .input__wrapper {
      input {
        height: 38px;
      }

      &__name,
      &__email {
        input {
          height: 46px;
        }
      }
      
    }



  }
  .auth-card {
    padding: 25px;
    
    .auth-intro {
      margin-bottom: 25px;
      text-align: center;
      
      &__title {
        margin-bottom: 25px;
        font-size: 25px;
        font-weight: bold;
      }
      &__subtitle {
        width: 70%;
        margin: 0 auto;
      }
    }

    .form-cta {
      button {
        height: 48px;
      }
    }

    .alt-auth {
      &__intro {
        display: inline-flex;
        align-items: center;
        margin: 25px 0;

        &__dash {
          margin-top: 5px;
        }
      }
      &__text {
        margin: 0 5px;
        font-weight: 600;
      }
      &__icon {
        margin-top: 5px;
        margin-right: 5px;
      }

      &__auths {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .alt-auth__btn {
          height: 38px;
          width: 32%;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          color: #000000;
          border-color: #000000;

          &__icon {
            margin-right: 5px;
            font-size: 18px;
          }

          &__text {
            font-weight: 600;
            font-size: 12px;
          }
        }
      }
    }

    .auth-switcher {
      text-align: center;
      margin-top: 25px;

      &__cta {
        font-weight: 700;
        margin: 0 3px;
        cursor: pointer;
      }
    }
  }
  

  :global(.nav-bar) {
    background-color: #f6f2ea;
  }
}